/* Body */

h5 {
    line-height: 2rem;
    font-size: 1.2rem;
    font-family: 'Merriweather', serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

@media (max-width: 720px) {
    h5 {
        line-height: 1.5rem;
        font-size: 1.2rem;
    }
}

/* Title */

#title {
    background-color: #66bfbf;
    padding: 5% 15% 5%;
    text-align: center;
}

#title h1 {
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    font-weight: bold;
    margin-top: 2rem;
}

nav {
    padding-left: 7%;
}

.nav-link {
    margin: 0 1rem;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link:hover, .navbar-brand:hover {
    color: #fff;
}

.hsiao-img {
    padding: 2rem 0;
}

#title h5 {
    padding: 0 7rem;
}

@media (max-width: 720px) {
    .navbar-brand {
        font-size: 1.3rem;
    }

    #title h5 {
        padding: 0 2rem;
    }
}

/* Skills */

#skills {
    padding: 5% 15% 5%;
    text-align: center;
    background-color: #eaf6f6;
}

.card-header {
    background-color: #66bfbf;
}

#skills h1 {
    padding-bottom: 3%;
}

.python-img {
    width: 5rem;
}

.tf-badge-img {
    width: 4rem;
}

/* Employment */

#employment {
    background-color: #66bfbf;
    padding: 5% 20% 5%;
    text-align: center;
}

#employment h1, #employment h3 {
    padding-bottom: 3%;
}

/* Contact */

#contact {
    padding: 2% 0;
    text-align: center;
    background-color: #eaf6f6;
}

.fa-2x {
    color: 	#727B7B;
    margin: 0 1.3rem 1rem;
}

.fa-2x:hover {
    color: #969E9E;
}
